{% extends "base/basic.html" %}
{% load static %}
{% block content %}


 <section class="elementor-section elementor-top-section elementor-element elementor-element-d9e5e84 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="d9e5e84" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
       <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-505d7c0" data-id="505d7c0" data-element_type="column">
          <div class="elementor-widget-wrap elementor-element-populated">
             <section class="elementor-section elementor-inner-section elementor-element elementor-element-3c793c2 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="3c793c2" data-element_type="section">
                <div class="elementor-container elementor-column-gap-default">
                   <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-a102fcd" data-id="a102fcd" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                      <div class="elementor-widget-wrap elementor-element-populated">
                         <div class="elementor-element elementor-element-ecbfa8a elementor-icon-list--layout-inline elementor-align-left elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="ecbfa8a" data-element_type="widget" data-widget_type="icon-list.default">
                            <div class="elementor-widget-container">
                               <ul class="elementor-icon-list-items elementor-inline-items">
                                  <li class="elementor-icon-list-item elementor-inline-item">
                                     <span class="elementor-icon-list-icon">
                                     <i aria-hidden="true" class="fas fa-certificate"></i>						</span>
                                     <span class="elementor-icon-list-text">মাদ্রাসা সম্পর্কিত তথ্য</span>
                                  </li>
                               </ul>
                            </div>
                         </div>
                         <div class="elementor-element elementor-element-e4e8396 elementor-align-left elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="e4e8396" data-element_type="widget" data-widget_type="icon-list.default">
                            <div class="elementor-widget-container">
                               <ul class="elementor-icon-list-items">
                                  <li class="elementor-icon-list-item">
                                     <a href="{% url "faculty" %}">
                                     <span class="elementor-icon-list-icon">
                                     <i aria-hidden="true" class="fas fa-user-shield"></i>						</span>
                                     <span class="elementor-icon-list-text">কর্মকর্তাবৃন্দ</span>
                                     </a>
                                  </li>
                                  <li class="elementor-icon-list-item">
                                     <a href="{% url "employee" %}">
                                     <span class="elementor-icon-list-icon">
                                     <i aria-hidden="true" class="fas fa-user-tie"></i>						</span>
                                     <span class="elementor-icon-list-text">৩য় শ্রেণির র্কমচারীবৃন্দ </span>
                                     </a>
                                  </li>
                                  <li class="elementor-icon-list-item">
                                     <a href="{% url "all_class" %}">
                                     <span class="elementor-icon-list-icon">
                                     <i aria-hidden="true" class="fas fa-user-graduate"></i>						</span>
                                     <span class="elementor-icon-list-text">শ্রেণী</span>
                                     </a>
                                  </li>
                                  <li class="elementor-icon-list-item">
                                     <a href="{% url "student_info" %}">
                                     <span class="elementor-icon-list-icon">
                                     <i aria-hidden="true" class="fas fa-users"></i>						</span>
                                     <span class="elementor-icon-list-text">শিক্ষার্থীদের তথ্য</span>
                                     </a>
                                  </li>
                                  <li class="elementor-icon-list-item">
                                     <a href="{% url "syllabus" %}">
                                     <span class="elementor-icon-list-icon">
                                     <i aria-hidden="true" class="far fa-list-alt"></i>						</span>
                                     <span class="elementor-icon-list-text">সিলেবাস</span>
                                     </a>
                                  </li>
                                  <li class="elementor-icon-list-item">
                                     <a href="{% url "routine" %}">
                                     <span class="elementor-icon-list-icon">
                                     <i aria-hidden="true" class="fas fa-bars"></i>						</span>
                                     <span class="elementor-icon-list-text">রুটিনসমুহ</span>
                                     </a>
                                  </li>
                                  <li class="elementor-icon-list-item">
                                     <a href="{% url "results" %}">
                                     <span class="elementor-icon-list-icon">
                                     <i aria-hidden="true" class="far fa-star"></i>						</span>
                                     <span class="elementor-icon-list-text">পরীক্ষাসমুহের ফলাফল</span>
                                     </a>
                                  </li>
                               </ul>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-c098012" data-id="c098012" data-element_type="column">
                      <div class="elementor-widget-wrap elementor-element-populated">
                         <div class="elementor-element elementor-element-0b68682 elementor-icon-list--layout-inline elementor-align-center elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="0b68682" data-element_type="widget" data-widget_type="icon-list.default">
                            <div class="elementor-widget-container">
                               <ul class="elementor-icon-list-items elementor-inline-items">
                                  <li class="elementor-icon-list-item elementor-inline-item">
                                     <span class="elementor-icon-list-icon">
                                     <i aria-hidden="true" class="fas fa-map-pin"></i>						</span>
                                     <span class="elementor-icon-list-text">নোটিশ বোর্ড</span>
                                  </li>
                               </ul>
                            </div>
                         </div>
                         <div id="marquee-cont">
                            <table width="100%" cellspacing="0" cellpadding="0">
                                <thead>
                                    <tr>
                                      <th>Date</th>
                                      <th>Title</th>
                                      <th>Views</th>
                                    </tr>
                                </thead>
                              <tbody>
                                 {% for notice in notices  %}
                                 
                                <tr>
                                    <td>
                                      {{notice.uploaded_at}}
                                    </td>
                                    <td>
                                      {{notice.title_of_notice}}
                                    </td>
                                    <td>
                                        {{notice.total_view}}
                                    </td>
                                </tr>

                                {% endfor %}
                              </tbody>
                            </table>
                          </div>
                      </div>
                   </div>


                </div>
             </section>
          </div>
       </div>
    </div>
 </section>


{% endblock content %}


