.slider{
  position: relative;
  width: 700px;
  height: 400px;
  margin: 10px;
}

.slider .slide{
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.slider .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.slider .slide img{
  z-index: 1;
  width: 100%;
  border-radius: 5px;
}

.slider .navigation{
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.slider .navigation .btn{
  background: rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.slider .navigation .btn.active{
  background: #2696E9;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 820px){
  .slider{
    width: 600px;
    height: 375px;
  }
  .slider .navigation{
    bottom: 25px;
  }

  .slider .navigation .btn{
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}

@media (max-width: 620px){
  .slider{
    width: 400px;
    height: 250px;
  }

  .slider .navigation{
    bottom: 15px;
  }

  .slider .navigation .btn{
    width: 8px;
    height: 8px;
    margin: 6px;
  }
}

@media (max-width: 420px){
  .slider{
    width: 320px;
    height: 200px;
  }

  .slider .navigation{
    bottom: 10px;
  }
}
      